body {
  margin: 0 0.5em;
  font-family: 'Palanquin', sans-serif;
  background-color: #3e4d58;
  color: #e9e9ea
}

#root {
  width: 30em;
  height: 21.5em;
}

.app-container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

header {
  display: flex;
  row-gap: 1em;
  align-items: center;
  column-gap: 0.5em;
  justify-content: space-between;
  padding-right: 0.25em;
}

.logo-and-title {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}

.logo {
  height: 1em;
  width: 1em;
}

.title {
  font-size: 1em;
  margin: 0;
}

.close-icon {
  cursor: pointer;
  padding-top: 0.25em;
}

.add-bookmark-container {
  display: flex;
  align-self: center;
}

.button {
  cursor: pointer;
  border: 1.5px solid #e9e9ea;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
}

.add {
  width: 15em;
  height: 2em;
  border-radius: 10px;
  color: #e9e9ea;
  background-color: #3e4d58;
  letter-spacing: 0.1em;
}

.add:hover {
  color: #3e4d58;
  background-color: #19f0fc;
}

.add:active {
  color: #e9e9ea;
  background-color: #0a3e7e;
}

.delete {
  border-radius: 2px;
  background-color: #61727d;
  color: #d74848;
  font-size: 1.5em;
  height: 1em;
}

.delete:hover {
  background-color: #3e4d58;
}

.delete:active {
  background-color: #61727d;
}

.add-bookmark-container::before,
.add-bookmark-container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: lightgray;
  width: 100%;
  left: 0;
}

.add-bookmark-container::before {
  top: 2.25em;
}

.add-bookmark-container::after {
  top: 5.6em;
}

.bookmark-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  height: 14.25em;
  overflow-y: scroll;
  padding: 0;
}

.bookmark-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1em;
  padding: 0.5em 0em;
  padding-left: 1em;
  padding-right: 1.25em;
}

.bookmark-list li:nth-child(odd) {
  background-color: #6f7f8a;
}

.bookmark-list li:nth-child(even) {
  background-color: #5c6972;
}

.bookmark-list li a {
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.15em;
}

.bookmark-list li a:link,
.bookmark-list li a:visited {
  color: #e9e9ea;
}

.bookmark-list li a:hover {
  text-decoration: underline;
  color:#dcdcdc;
}